header{
  display: flex;
  font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 border: 1px solid black;
 background-color: white;
 margin-top: -4px;
 margin-left: -6px;
 margin-right: -15px;
top: 0;
position: fixed;

}

div.backback{
  display: flex;
  flex-direction: row;
  height: 1130px;
  width: 1300px;
  background-color: white;
  margin-top: 100px;
  margin-bottom: -90px;



}

#footy{
  display: flex;
  margin-top: 100px;
  background-color: MediumAquamarine;
  width: 1330px;
  height: 460px;
  font-family:Verdana;
  font-size:12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

div .sentence1{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

 #column-large{
  width: 630px;
  height: 1150px;

}

div .orgainzer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: -30px;
}

div .pictureorgainzer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -50px;

}


div .image-writing{
  width: 627px;
  height: 300px;
  background-image: url(../resources/images/img-story-main.png);
  font-family: Georgia;
 font-weight: bold;
 font-size: 40px;
 color: white;
}

div .story-content1{
  width: 627px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-family: Georgia;
 font-size: 16px;
 color: black;
}

div .orca{
  width: 300px;
 height: 250px;
  font-family: Georgia;
 font-size: 16px;
 color: black;
margin-bottom: 25px;
margin-left: -10px;


}

div .image-writing2{
  width: 278px;
  height: 300px;
  background-image: url(../resources/images/img-story-2.png);
  font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 margin-right: 19px;
 margin-left: -5px;
 text-align: center;
}

div .burger{
  width: 300px;
  height: 200px;
  font-family: Georgia;
 font-size: 15px;
 color: black;
 margin-left: 8px;

  }

  div .image-writing3{
    width: 300px;
    height: 300px;
  background-image: url(../resources/images/img-story-3.png);
  font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
text-align: center;

  }

#column-medium{
  height:595px;
  width: 300px;
  margin-left: 30px;
}

div .fbi{
  width: 300px;
  font-family: Georgia;
 font-size: 17px;
 color: black;
}

div .image-writing4{
width: 300px;
height: 300px;
background-image: url(../resources/images/img-story-1.png);
font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 text-align: center;
}

div .brooklyn{
  width: 300px;
  font-family: Georgia;
 font-size: 17px;
 color: black;
}




#column-small{
  width: 240px;
  height: 595px;
  margin-left: 30px;
}

div .cookie{
  background-image: url(../resources/images/img-news-bite.png);
  width: 237px;
  height: 239px;
}

div .news{
  width: 237px;
  font-size: 16px;
font-weight: bold;
text-align: center;
font-family: Gerogia;
}

div .newsbites{
  background-color: WhiteSmoke;
   font-family: Verdana;
   font-size: 12px;
   color: DimGray;
   border-bottom: 2px solid;
   display: flex;
   flex-direction: column;
  }


  div .emoji{
    border-bottom: 2px solid;
  }

  div .home{
    border-bottom: 2px solid;
  }

  div .youtube{
    border-bottom: 2px solid;
  }

  div.online {
    border-bottom: 2px solid;
  }

  div .in{
  border-bottom: 2px solid;
  }



.logo{
  color:MediumAquamarine;
  margin-left: 10px;
  align-self: center;

}

.nav{
  margin-left: 900px;
  align-self: center;
}

 .world{
  padding-right: 20px;
}

.US{
padding-right: 20px;
}

.Tech{
  padding-right: 20px;
}

.science{
  padding-right: 20px;
}


a{
  color: black;
}
header img{
  margin-left: 20px;
  margin-top: 9px;
  margin-bottom: 9px;

}
#footy p{
  color: black;
}
